<!doctype html>
<html lang='ko'>
<head>
    <meta charset = 'utf-8'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>아카라이브</title>
</head>
<body class="bg-dark">
    <div class="row bg-dark">
        <div class="col-sm-1">&nbsp;</div>
        <nav class="navbar col bg-black">
            <div class="container-fluid">
              <a class="navbar-brand text-light" href="/" style="font-size: 30px; padding-left: 10px;">arca.live</a>
              <div class="navbar col float-md-end">
                <% if(username) { %>
                    <div class="col text-center text-light" onclick="location.href='intro'" style="cursor: pointer;">소개</div>
                    <div class="col text-center text-light" onclick="location.href='author'" style="cursor: pointer;">제작자</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col text-light">반갑습니다 <%= username %> 님</div>
                    <div class="col"></div>
                    <div class="col">
                        <input type="button" onclick="location.href = 'edit_profile'" value="프로필 수정" class="btn btn-success">
                    </div>
                    <div class="col">
                        <input type="button" onclick="location.href = 'myPosts'" value="내글 확인" class="btn btn-success">
                    </div>
                    <div class="col">
                        <input type="button" onclick="location.href = 'logout'" value="로그아웃" class="btn btn-success">
                    </div>
                <% } else { %>
                    <div class="col text-center text-light" onclick="location.href='intro'" style="cursor: pointer;">소개</div>
                    <div class="col text-center text-light" onclick="location.href='author'" style="cursor: pointer;">제작자</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col text-light">로그인하십시오</div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <img src="/user.png" onclick="location.href = 'login'" style="height: 40px; width: 45px; float: right;">
                    </div>
                <% } %>
              </div>
            </div>
        </nav>
        <div class="col-sm-1">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1 bg-dark"></div>
        <div class="col bg-dark text-light">
            <br><h2>내가 작성한 글</h2><br>
            <table class="table table-striped table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">작성자</th>
                        <th scope="col" class="text-center">제목</th>
                        <th scope="col" class="text-center">내용</th>
                        <th scope="col" class="text-center">작성 시간</th>
                        <th scope="col" class="text-center">글 보기</th>
                        <th scope="col" class="text-center">글 수정</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% for (let i = 0; i < posts.length; i++) { %>
                        <tr>
                        <td class="text-center"><%= posts[i].username %></td>
                        <td class="text-center"><%= posts[i].truncated_title %></td>
                        <td class="text-center"><%= posts[i].truncated_content %></td>
                        <td class="text-center"><%= posts[i].formatted_created_at %></td>
                        <td class="text-center"><img style="width: 30px; height: 30px;" src="/click.png" onclick="location.href = '/view_post/<%= posts[i].id %>'"></td>

                        <td class="text-center"><img style="width: 30px; height: 30px;" src="/edit.png" onclick="location.href = '/edit_post/<%= posts[i].id %>'"></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <input type="button" onclick="location.href = '/'" value="메인으로 돌아가기" class="btn btn-success float-end">
        </div>
        <div class="col-sm-1 bg-dark"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</body>
</html>